flask_services/node_red_flow.txt
[{"id":"136a6d3d.ce150b","type":"inject","z":"20affa44.46d27e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110.5,"y":132.25,"wires":[["8b393473.fe12"]]},{"id":"8b393473.fe12","type":"http request","z":"20affa44.46d27e","name":"get tfl image","method":"GET","ret":"obj","url":"localhost:5001/tfl_camera/image","tls":"","x":263.5,"y":130.75,"wires":[["5662df6f.e5f478","1b92001c.472e4","7cb92416.7977f4"]]},{"id":"5662df6f.e5f478","type":"debug","z":"20affa44.46d27e","name":"tfl image msg","active":true,"console":"false","complete":"payload","x":289.5,"y":180.5,"wires":[]},{"id":"65cd4987.d2b96","type":"http request","z":"20affa44.46d27e","name":"object_detection","method":"POST","ret":"txt","url":"localhost:5200/object_detector/image","tls":"","x":685.5,"y":123.75,"wires":[["65742b8a.bb983c","f0dc12c3.e012","eeea4aea.3cd41"]]},{"id":"65742b8a.bb983c","type":"debug","z":"20affa44.46d27e","name":"object detection msg","active":true,"console":"false","complete":"payload","x":679.5,"y":175.5,"wires":[]},{"id":"2394289e.c075a8","type":"http request","z":"20affa44.46d27e","name":"list 2 num","method":"POST","ret":"txt","url":"localhost:5301/utils/list2num","tls":"","x":1187,"y":123.25,"wires":[["a608e3e2.af793","4fc512b1.46e3dc"]]},{"id":"a608e3e2.af793","type":"debug","z":"20affa44.46d27e","name":"list 2 num msg","active":true,"console":"false","complete":"payload","x":1209.75,"y":176.50001525878906,"wires":[]},{"id":"1b92001c.472e4","type":"function","z":"20affa44.46d27e","name":"add_request_headers","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":127,"wires":[["65cd4987.d2b96"]]},{"id":"f0dc12c3.e012","type":"function","z":"20affa44.46d27e","name":"prepare_data","func":"//msg.payload = {'data':msg.payload};\nmsg_list = msg.payload;\nmsg.payload = {};\nmsg.payload[\"data\"] = msg_list;\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":916.25,"y":122.5,"wires":[["2394289e.c075a8","4e5fb26c.a15d34"]]},{"id":"4e5fb26c.a15d34","type":"debug","z":"20affa44.46d27e","name":"list prepare post msg","active":true,"console":"false","complete":"payload[\"data\"]","x":956.875,"y":175.625,"wires":[]},{"id":"a8ba1015.bb834","type":"ui_button","z":"20affa44.46d27e","name":"Update Image","group":"cb9c1df1.ce2cd8","order":1,"width":0,"height":0,"passthru":false,"label":"Update Image","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":115.625,"y":295,"wires":[["8b393473.fe12"]]},{"id":"7cb92416.7977f4","type":"ui_template","z":"20affa44.46d27e","group":"cb9c1df1.ce2cd8","name":"TFL Image","order":2,"width":"12","height":"6","format":"<div>\n    <p>TFL image</p>\n    <img src=\"data:image/jpg;base64, {{msg.payload.image}}\" alt=\"Example Sub Image\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":434.375,"y":296.25,"wires":[[]]},{"id":"4fc512b1.46e3dc","type":"ui_text","z":"20affa44.46d27e","group":"cb9c1df1.ce2cd8","order":3,"width":"18","height":"1","name":"car count display","label":"Car Count","format":"{{msg.payload}}","layout":"row-spread","x":1188.125,"y":262.5,"wires":[]},{"id":"eeea4aea.3cd41","type":"ui_text","z":"20affa44.46d27e","group":"cb9c1df1.ce2cd8","order":4,"width":"18","height":"4","name":"detections display","label":"Detections","format":"{{msg.payload}}","layout":"row-spread","x":873.125,"y":298.75,"wires":[]},{"id":"cb9c1df1.ce2cd8","type":"ui_group","z":"","name":"How many cars on romford road","tab":"56b76c1a.cb0cec","disp":true,"width":"18"},{"id":"56b76c1a.cb0cec","type":"ui_tab","z":"","name":"TFL service chain test","icon":"dashboard"}]